<div class="container my-5" >
    <div class="row col-12 justyfy-content-center">
        <div class="col-md-4">
            <h4 class="text-center pt-3">Nombre: {{usuarios.nombre}}</h4>
        </div>
        <div class="col-md-4">
            <p class="text-center pt-3">correo: {{usuarios.correo}}</p>
        </div>
    </div>
    <h3 class="text-center">Contactos</h3>
    <div class="row">
        <button (click)="crearContacto()" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>

<ng-container *ngIf="statusContactos">
    <app-grupos [contactos]="contactos" (editado)="onEditado($event)" (eliminado)="onEliminado($event)"></app-grupos>
    
</ng-container>
<ng-container *ngIf="statusChat">
    <app-chat [mensajesRecibidos]="mensajesRecibidos" (dataMensaje)="onEnviarMensaje($event)" ></app-chat>
</ng-container>
